{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#000000" />
    <title>{{ behaviour }}</title>
    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/sha256.jquery.js' %}"></script>

    <!-- 
    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    -->
<script>

/*function stop(){
return false;
}
document.oncontextmenu=stop;*/

function checkForm() 
{
    var input_pwd = document.getElementById('input_password');
    var sha256_pwd = document.getElementById('sha256_password');
    var user_id = document.getElementById('user_id');
    if (input_pwd.value.length>20)
    {
        alert('password is too long!');
        return false;
    }
    else
    {   salt = $.sha256(user_id.value).substring(18,38);
        sha256_pwd.value = $.sha256((input_pwd.value)+salt);
        return true;
    }
}

function deal_button(obj)
{
    btns = $(".ui.button")
    for (var index=0; index < btns.length; index++)
    {
        btn = btns[index]
        btn.setAttribute('class','ui button');
    }

    var submit_element = document.getElementById('user_submit');
    submit_element.value = $(obj).attr('id');
    obj.setAttribute('class','ui green button');
}

</script>
    
</head>
<body>

<div class="logo">
    <img class="ui medium centered image" src="{% static 'images/logo.png' %}">
</div>

<div class="login">
    <h2 class="top-text">文档溯源系统</h2>

    <div class="login-top">

        <div class="button-top" style="margin-bottom:10px;">
            <button class="ui button" id="submit-login" onclick="deal_button(this)">登陆</button>
            <button class="ui button" id="submit-register" onclick="deal_button(this)">注册</button>
        </div>

        <div>
            <form action="" class="post-form" method="post" onsubmit="return checkForm()">
                {% csrf_token %}
                <input type="text"     id="user_id" name='user_id' placeholder="RTX id">
                <input type="password" id="input_password" placeholder="Password">
                <input type="hidden"   id="sha256_password" name="user_passwd">
                <input type="hidden"   id="user_submit" name="user_submit" value="submit-login">
                <input type="submit" value="提交" style="margin-bottom:0px;">
            </form>
        </div>

    </div>

    <div class="login-bottom">
        <h3>
        {% if points_info %}
            {% for item in points_info %}
               <p>{{ item }}</p>
            {% endfor %}
        {% endif %}
        </h3>
    </div>

</div>

</body>
</html>
